In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
df = pd.read_csv('visualization_daft_ie.csv')

In [3]:
df

,price,numBedrooms,numBathrooms,propertySize,total_images,video,virtual_tour,brochure,longitude,latitude,ber_rating,featuredLevel,propertyType,category,sellerType
0,290000,3,3,96.0,16.0,0,0,0,-8.382500,51.822940,C2,featured,End of Terrace,Buy,BRANDED_AGENT
1,225000,3,2,93.0,33.0,0,0,0,-7.177098,53.157465,C1,featured,Semi-D,Buy,BRANDED_AGENT
2,575000,4,3,162.0,38.0,0,1,0,-6.342763,53.269493,A3,featured,Semi-D,Buy,BRANDED_AGENT
3,120000,3,1,68.0,5.0,0,0,0,-6.879797,53.728601,G,featured,Terrace,Buy,BRANDED_AGENT
4,400000,4,3,113.0,20.0,1,0,0,-8.614786,51.883612,C1,featured,Semi-D,Buy,BRANDED_AGENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3573,185000,4,3,125.0,34.0,0,0,0,-8.315556,51.849705,A3,standard,Semi-D,Buy,BRANDED_AGENT
3574,235000,3,3,103.0,24.0,0,1,0,-7.212145,53.647194,A1,standard,Semi-D,Buy,BRANDED_AGENT
3575,149500,3,1,82.0,14.0,1,0,0,-6.753848,54.115088,A3,standard,Bungalow,Buy,UNBRANDED_AGENT
3576,170000,4,2,128.0,38.0,0,1,0,-8.652927,52.664558,A2,standard,Detached,Buy,BRANDED_AGENT
3577,250000,3,2,116.0,69.0,0,1,0,-6.792938,53.166008,A3,standard,Bungalow,Buy,UNBRANDED_AGENT